<div class="container">
 <div class="row">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

          <h2>Team</h2><br>
          <div class="table-responsive">
              <table class="table table-striped table-sm">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Plan</th>
                          <th scope="col">Joining Date</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let member of members; let i= index">
                          <td>{{i+1}}</td>
                          <td>{{member.memberFullName}}</td>
                          <td>{{member.planType}}</td>
                          <td>{{member.joiningDate | date: 'dd/MM/yyyy'}}</td>
                      </tr>

                  </tbody>
              </table>
          </div>
      </main>
    </div>
    </div>
