<div class="dashboard-container">
  <div class="row" *ngIf="loaded">
      <div class="col-md-4">
        <mat-card class="di-card bg-lb">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title><strong>My Package </strong></mat-card-title>
              <mat-card-subtitle>{{dashboardDetails.packageValue}} USD</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      

      <div class="col-md-4">
        <mat-card class="di-card bg-lp">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title><strong> Direct Income</strong></mat-card-title>
              <mat-card-subtitle>{{dashboardDetails.directIncome}} USD</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
    </div>
        <div class="col-md-4">
            <mat-card class="di-card bg-lg">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title><strong>Autofill Income</strong></mat-card-title>
                  <mat-card-subtitle>{{dashboardDetails.autofillIncome}} USD</mat-card-subtitle>
                </mat-card-title-group>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card class="di-card bg-lgr">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title><strong>Team Income</strong> </mat-card-title>
                  <mat-card-subtitle>{{dashboardDetails.teamIncome}} USD</mat-card-subtitle>
                </mat-card-title-group>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card class="di-card bg-lo">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title><strong>Reward Income</strong> </mat-card-title>
                  <mat-card-subtitle>{{dashboardDetails.rewardIncome}} USD</mat-card-subtitle>
                </mat-card-title-group>
              </mat-card-header>
            </mat-card>
      </div>
  </div>

 
</div>
